a{
	color: #7d7d7d; 
	outline: none; 
	text-decoration: none;
}

.bread{
	
	font-size: 14px;
}
ul{
	list-style-type: none;
}


/*--------------mv标题---------*/
.mvTitle h2{
	float: left;
	text-indent: 16px;
	font-size: 24px;
	margin-right: 15px;

}
.mvTitle a{
	display: block;
	float: left;
	margin-top: 19px;
}
.titleul ul{
	clear: both;
	overflow: auto;
	border-bottom: 1px solid #7d7d7d;
}
.titleul ul li{
	text-align: center;
	float: left;
	width:86px;
	height: 35px;
	line-height: 35px;
	overflow: auto;
	background: url(../images/gsf/line.gif) no-repeat right center;
}
.titleul ul li a{
	display: block;
	float: left;
	width:86px;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	color: #000;
	text-align: center;
	text-decoration: none;
}
.titleul .choose{
	color:#1093d7;
	border-bottom:1px solid #1093d7; 
}

/*---------------mv播放----------------*/
.vheight{
	margin-bottom: 16px;
}
.vplay{
	background-image: url(../images/gsf/playBg.jpg);
}
#ulbg{
	background-image: url(../images/gsf/pulBg.jpg);
	color: white;
	overflow: auto;
}
.mvintroduce h4{
	font-size: 14px;
}
.mvintroduce p{
	font-size: 10px;
}

/*------------------mvanniu----------------*/
.control{
	width: 100%;
	height: 50px;	
}
.progresser{
	background-color: #fff;
	height: 15px;
	border-radius:5px;
	width: 95%;
	float: left;
	margin-bottom: 8px;

}
.glyphicon-fast-backward,.glyphicon-fast-forward{
	color: #fff;
	float: left;
}
 .slider { background: rgba(0, 0, 0, 0.3); height: 15px; position: relative; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; }
 
 .slider .pace{
 	position: absolute; height: 100%; opacity: 0.7; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
	background: rgb(16, 147, 215);
}
.icon{
	clear: both;
	width: 100%;
	height: 100%;
	margin-top: 10px;

}
.icon .glyphicon{
	color: #fff;
	font-size: 20px;
}
.playicon{
	margin-left: 10px;
	width: 30%;
	float: left;	
}
.playicon span,.right span{
	margin: 2px 5px;
}
.timer{
	color: white;
}
.right{
	width: 30%;
	float: right;
}
.right span{
	float: left;
}
.right .slider{
	float: left;
	width: 40%;
	background-color: #fff;
	height: 5px;
	margin-top: 10px;
}
.right .slider .pace{
	position: absolute; height: 100%; opacity: 0.7; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
	background:orange;
}
.right .qingxidu{
	position: relative;
}
.right .labelul{
	position: absolute;
	top: -105px;
	left: -15px;
	background-color: rgba(0,0,1,0.5);
	display: none;	
}
.right .labelul ul li{
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
}

.right .labelul ul .show {
	background-color:#666;
	border-radius: 15px;
}
/*---全屏--*/

:-webkit-full-screen {

}

:-moz-full-screen {

}

:-ms-fullscreen {

}

:-o-fullscreen {

}

:full-screen { 

}

:fullscreen {

}

:-webkit-full-screen video {
 width: 100%;
 height: 100%;
}
:-moz-full-screen video{
 width: 100%;
 height: 100%;
}
#videobox video::-webkit-media-controls-enclosure {    
  /*禁用播放器控制栏的样式*/    
  display: none !important;}

/*---------------------MVfenxiang---------------*/
.mvfen{
	clear: both;	
}
.mvfen span{
	text-indent: 14px;
	float: left;
}
.mvfen a{
	display: block;
	width: 20px;
	height: 24px;
	padding: 6px 10px 3px 22px;
	float: left;

}
.mv_xlfx{
	background-image: url(../images/gsf/is.png);
	background-repeat: no-repeat;
	background-position: 0px -114px;
}
.mv_qqfx{
	background-image: url(../images/gsf/is.png);
	background-repeat: no-repeat;
	background-position: 0px -71px;
}
.mv_txfx{
	background-image: url(../images/gsf/is.png);
	background-repeat: no-repeat;
	background-position: 0px -233px;
}
.mv_rrfx{
	background-image: url(../images/gsf/is.png);
	background-repeat: no-repeat;
	background-position: 0px -193px;
}
/*------------------------mv精选列表---------*/
.mvjx{
	clear: both;
}
/*---------------------评论区--------------*/
textarea{
	width: 100%;
	height: 160px;
	color: #999;
	text-indent: 2em;
}

.comment{
	width: 100%;
	height: 160px;
	color: #999;
}
.com_form button{
	float: right;
}
.com_show{
	padding-top: 10px;
	clear: both;
	overflow: auto;
}
.cs_talk{
	border:1px solid #ccc;
	margin-top: 20px;
}
.s_talk{
	text-indent: 16px;
	font-size: 17px;
	color: #999;
}