*{
	margin: 0;
	padding: 0;
	border:0;
}
body{
	font-family: "微软雅黑";
}
ul li{
	list-style-type: none;
	float: left;
}
/*daohang*/
.hover{
	background-color: #e7e7e7;
	border-bottom:2px solid orange;
}
.hover1{
	background-color: #e7e7e7;
}
.dh,.dh a{
	height: 48px;
}
.active a{
	border-bottom:2px solid orange;
}
.navbar a{
	color: #333;
}
.navbar a:hover{
	color: orange;
}
.lb1{
	width:90px;
	background-color:white;
	position:absolute;
	top:50px;
	left:-45px;
	display: none;
}
.lb1 ul{
	list-style-type: none;
	position: relative;
}
.lb1 ul li a{
	display: block;
	width: 90px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}
.lb1 ul li a:hover{
	background-color: rgb(255,80,20);
	color: white;
}
/*content*/
.bread{
	padding-top: 65px;
	padding-left: 10px;
	padding-bottom: 20px;
}
.tbk{
	color: rgb(255,110,61);
}
.home{
	color: rgb(255,110,61);
}
.divider{
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(227,221,227);
	font-weight: bolder;
}
.title{
	color: rgb(227,221,227);
}
.item-show{
	border:1px solid rgb(225,225,225);
	margin-bottom: 20px;
	padding: 10px;
}
.notask_text{
	display: none;
}
.task{
	text-align: center;
	padding-left: 10px;
	padding-top: 20px;
	margin-bottom: -80px;
	z-index: 200;
	float: left;
	display: inline-block;
}
#huabu{
	border-radius: 50%;
	width: 75px;
	height: 75px;
	border: 5px solid #ccc;
	display: inline-block;
}
.alert1{
	display: block;
	margin-bottom: 15px;
	padding: 15px;
	margin-bottom: 20px;
	color: #262626;
	background-color: #f1f1f1;
	border: 1px solid transparent;
	border-color: #e4e4e4;
	border-radius: 3px;
}
.one{
	margin-bottom: 10px;
	display: none;
}
.menu{
	font-size: 15px;
	color: black;
}
.menu:hover{
	color: rgb(255,155,61);
	text-decoration: none;
}
.fabu{
	padding: 2px 8px;
	margin-top: 0px!important;
	border-radius: 4px;
	color: white!important;
	background-color: rgb(255,110,61);
}
/*people*/
.gossip-avatar{
	width: 45px;
	height: 45px;
	padding-left: 5px;
	padding-top: 5px;
}
.at-popup{
	width: 40px;
	height: 40px;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
}
.gossip-body{
	height: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	clear right;
	margin-bottom: 0;
}
.gossip-title a{
	width: 39px;
	height: 16px;
	color: #333;
	font-weight: bolder;
	font-size: 13px;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	transition-delay: initial;
}
.gossip-gossip{
	padding: 5px 0 5px 0;
	font-size: 13px;
}
.zhangkai1{
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
.shouqi1{
	display:none;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
.pull-left{
	margin-top: 10px;
}
.pull-right{
	margin-top: 10px;
	color: rgb(170,170,197);
}
.pull-right a{
	color: rgb(170,170,197);
}
.adjust-ajax{
	cursor: pointer;
}
.clearfix{
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.forward:hover,.reply:hover,.like:hover{
	color: rgb(255,110,61);
}
/*student2*/
.btn{
	border:1px solid rgb(204,204,204);
	background-color: rgb(242,242,242);
}
.btn:hover{
	border:1px solid rgb(161,161,161);
	background-color: rgb(222,222,222);
}
.zhangkai2{
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
.shouqi2{
	display:none;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
blockquote{
	font-size: 12px;
	height: 150px;
	border-left: 3px solid #e5e5e5;
}
.at-popup1{
	color: #333;
	font-weight: bolder;
	text-decoration: none;
}
/*student3*/
.zhangkai3{
	display:block;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
.shouqi3{
	display:none;
	word-wrap:break-word;
	word-break:break-all;
	line-height:23px;
	margin-bottom:10px;
}
.zhangkai{
	display:block;
	line-height:23px;
	margin-bottom:10px;
}
.shouqi{
	display:none;
	line-height: 23px;
}
/*right*/
.alert2{
	display: none;
	height: 50px;
	margin-bottom: 15px;
	padding: 15px;
	margin-bottom: 20px;
	color: #262626;
	background-color: #f1f1f1;
	border: 1px solid transparent;
	border-color: #e4e4e4;
	border-radius: 3px;
}
.glyphicon1{
	color: #69b3fc;
	width: 20px;
	height: 20px;
}
.wei{
	margin-top: 0px!important;
}
.jiaru{
	margin-top: 0px!important;
}
.join-team-btn{
	background-color: #ff6e3d;
	color: #fff;
	font-weight: normal;
	text-shadow:none;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 4px;
	border-color: #ccc;
	cursor: pointer;
	vertical-align: middle;
}
.taskinfo{
	border:1px solid rgb(225,225,225);
	margin-bottom: 20px;
	width: 264px;
}
.tasks{
	color: #808080;
}
.studentinfo{
	border:1px solid rgb(225,225,225);
	margin-bottom: 20px;
	width: 264px;
	height: 150px;
}
.courseinfo{
	border:1px solid rgb(225,225,225);
	margin-bottom: 20px;
	height: 150px;
	width: 264px;
}
.taskitem,.studentitem{
	padding: 10px;
}
.title1{
	color: black;
	font-size: 13px;
}
.title a{
	color: #333;
}
.title a:hover{
	color: rgb(255,110,61);
	text-decoration: none;
}
.item{
	padding: 10px 0 10px 5px;
}
.item1{
	display: block;
}
.item2{
	display: none;
}
.student{
	margin-right: 8px;
}
.student img{
	width: 30px;
	height: 30px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
}
.student .name{
	width: 39px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
}
.tan{
	color: #c3e7e7;
	font-size: 16px;
}
/*top*/
.cd-top{
	visibility: visible;
	border:1px solid #D4D4D4;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 20px;
	right: 100px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	background-color: #D4D4D4;
}
.cd-top i{
	position: fixed;
	width: 26px;
	height: 26px;
	font-size: 26px;
	bottom: 27px;
	color: #FFF;
	right: 109px;
}
/*footer*/
.address{
	text-align: center;
}
.copyright{
	text-align: center;
}
#hy{
	width: 300px;
	height: 50px;
	color: white;
	font-size: 14px;
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}