*{
	margin: 0;
	padding: 0;
	border:0;
}
body{
	font-family: "微软雅黑";
}
a:hover{
	text-decoration: none;
}
/*daohang*/
.hover{
	background-color: #e7e7e7;
	border-bottom:2px solid orange;
}
.hover1{
	background-color: #e7e7e7;
}
.dh,.dh a{
	height: 48px;
}
.active a{
	border-bottom:2px solid orange;
}
.navbar a{
	color: #333;
}
.navbar a:hover{
	color: orange;
}
.lb1{
	width:90px;
	background-color:white;
	position:absolute;
	top:50px;
	left:-45px;
	display: none;
}
.lb1 ul{
	list-style-type: none;
	position: relative;
}
.lb1 ul li a{
	display: block;
	width: 90px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}
.lb1 ul li a:hover{
	background-color: rgb(255,80,20);
	color: white;
}
/*content*/
.workspace{
	padding-top: 51px;
}
.card-img{
	width: 260.5px;
}
.card-heading{
	font-weight: normal;
	line-height: 1.1;
	color: #333;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
}
.card-content{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
.join-team-btn{
	background-color: #ff6e3d;
	color: #fff;
	font-weight: normal;
	text-shadow:none;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 4px;
	border-color: #ccc;
	cursor: pointer;
	vertical-align: middle;
}
.card{
	margin-top:15px;
	border:1px solid #ddd;
	border-radius: 4px;
}
.card-actions{
	height: 55px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.two-line{
	height: 45px;
	display: block;
	overflow: hidden;
}
/*fenye*/
.pagination li a{
	color: black;
}
/*footer*/
.address{
	text-align: center;
}
.copyright{
	text-align: center;
}
#hy{
	width: 300px;
	height: 50px;
	color: white;
	font-size: 14px;
	border:1px solid red;
	background-color: red;
	border-radius: 20px;
}